:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.loading-bar {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.loading-bar .logo {
  position: absolute;
  max-width: 120px;
}

.loading-bar .logo img {
  max-width: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  /* background: url('../images/Union.png') center center no-repeat, radial-gradient(50% 50% at 50% 50%, rgba(118, 118, 118, 0.3) 0%, rgba(118, 118, 118, 0) 100%), #1E1E1E ; */
  background: linear-gradient(0deg, #A6B5BC 0%, #B6C5CD 29.88%, #FFFFFF 40.27%, #C3CCD1 77.42%);
  color: #fafafa;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url('../images/icon-markerless.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #747474;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 10%;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#fafafa;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0);
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

/* #ar-button:focus-visible {
  outline: 1px solid #4285f4;
} */

.c-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Halvetica', sans-serif;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 50%);
}

.c-info-wrapper {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  padding: 10px 30px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-info-wrapper p {
  overflow-y: scroll;
}

.c-info-wrapper h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
}

.c-info-wrapper img {
  width: 120px;
  height: 120px;
}

.c-wrapper .c-button-wrapper .button {
  display: flex;
  align-items: center;
  border-radius: 18px; 
  border: 0; 
  padding: 0px 28px 0px 28px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.button img {
  height: 20px;
}

.button.markerless {
  background-color: #31C4C4;
  color: #1E1E1E;
}

.button.markerbase {
  background-color: #747474;
  color: #FAFAFA;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}