* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica", Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

.white {
	background-color: #fafafa;
}

.black {
	background-color: #252525;
}

.blue {
	background-color: #3F8DC6;
}

.green {
	background-color: #31C4C4;
}

.red {
	background-color: #C32A2A;
}

.page-wrapper {
	background-color: #FFFFFF;
    /* background: url('../images/bg-black.png'); */
	/* background-repeat: no-repeat;
    background-position: center top;
	background-size: cover; */
	/* background: linear-gradient(0deg, #A6B5BC 0%, #B6C5CD 29.88%, #FFFFFF 40.27%, #C3CCD1 77.42%); */
	width: 100vw;
	height: 100vh;
	color: #fafafa;
	margin: 0;
}

.site-header {
	position: absolute;
	width: 100%;
	height: 70px;
	margin: auto;
	right: 0;
	z-index: 9; 
}

.site-header .wrapper {
	display: flex;
	max-width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}

.site-header .wrapper .menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.site-header .wrapper .menu svg {
	width: 24px;
	margin-right: 10px;
}

.site-header .wrapper .logo {
	width: 150px;
	height: auto;
}

.logo img {
	width: 100%;
}

.site-header .wrapper .search {
	cursor: pointer;
}

.site-header .wrapper .search svg {
	width: 24px;
}

.site-content {
	width: 100%;
	height: 100%;
	position: relative;
}

.site-content .wrapper .webPlayer {
	width: 100%;
	height: 100%;
}

.site-content .wrapper .webPlayer iframe {
	width: 100%; 
	height: 100%;
	position: absolute; 
	display: block;
	border: 0px;
}

.site-content .wrapper .descriptionUI {
	position: absolute;
	display: flex;
	flex-direction: column;
	max-width: 30%;
	height: auto;
	align-items: start;
	/* top: 20%; */
	top: 7%;
	left: 50px;
}

.site-content .wrapper .descriptionUI .title {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 64px;
	font-weight: 500;
	color: #31C4C4;
}

.site-content .wrapper .descriptionUI .subtitle {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 26px;
	font-weight: 300;
}

.site-content .wrapper .descriptionUI .info {
	visibility: hidden;
	width: 70%;
	margin-top: 10px;
}

.site-content .wrapper .descriptionUI .info svg {
	width: 20px;
}

.site-content .wrapper .descriptionUI .info .text {
	display: block;
	height: auto;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	margin-top: 10px;
	color: #252525;
}

.site-content .wrapper .descriptionUI .info .text.hide {
	visibility: hidden;
	height: 0;
}

.site-content .wrapper .sidebarUI {
	display: flex;
	flex-direction: row-reverse;
}

.site-content .wrapper .customizerUI {
	position: absolute;
	flex-direction: column;
	display: flex;
	gap: 20px;
	width: 15%;
	height: auto;
	top: 20%;
	right: 50px;
	/* background-color: rgba(0, 0, 0, 1); */
	background: rgba(0, 0, 0, 0.08);
	padding: 20px;
	border-radius: 14px;
}

.site-content .wrapper .customizerUI.show {
	display: none;
}

.site-content .wrapper .sidebarUI .swipeButton {
	display: none;
	width: 10px;
}

.site-content .wrapper .customizerUI .tabCategory {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.site-content .wrapper .customizerUI .tabCategory a {
	background-color: #fafafa;
	padding: 10px 20px;
	border-radius: 24px;
	color: #3A3A3A;
	text-align: center;
	flex: 50%;
}

.site-content .wrapper .customizerUI .tabCategory a:hover, .site-content .wrapper .customizerUI .tabCategory a.active {
	/* background-color: #31C4C4;
	color: #101010; */
	background-color: #101010;
	color: #fafafa;
}

.site-content .wrapper .customizerUI .tabContentCategory {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 7px;
	margin-bottom: 20px;
}

.site-content .wrapper .customizerUI .tabContentCategory a {
	border: 1px solid #525252;
	border-radius: 50px;
	padding: 4px;
	filter: brightness(70%);
	opacity: 0.5;
}

.site-content .wrapper .customizerUI .tabContentCategory a.active {
	border: 1px solid #252525;
	filter: brightness(100%);
	opacity: 1;
}

.site-content .wrapper .customizerUI .tabContentCategory a:hover {
	border: 1px solid #252525;
	filter: brightness(100%);
	opacity: 2;
}

.site-content .wrapper .customizerUI .tabContentCategory a img {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 50px;
}

.site-content .wrapper .customizerUI .colorCustomizer {
	border-top: 2px solid rgba(0, 0, 0, 0.3);
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.site-content .wrapper .customizerUI .colorCustomizer h5 {
	font-size: 12px;
	font-weight: 400;
	color: #101010;
}

.site-content .wrapper .customizerUI .colorCustomizer .colorBtnGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: 6px;
}

.site-content .wrapper .customizerUI .colorCustomizer .colorBtnGroup a {
	flex: 25%;
	height: 20px;
	border-radius: 24px;
}

.site-content .wrapper .customizerUI .colorCustomizer .colorBtnGroup a:hover {
	/* border: 1px solid #31c4c4; */
    box-shadow: 0 0 10px #31c4c4;
}

.site-content .wrapper .arButtonUI {
	display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
	background-color: #101010;
    color: #fafafa;
	font-weight: 500;
    /* border: 1px solid #31C4C4; */
    border-radius: 24px;
    position: absolute;
    padding: 3px 25px;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-content .wrapper .arButtonUI svg {
	width: 20px;
}

.site-content .wrapper .arButtonUI:hover {
	filter: brightness(110%);
}

.site-content .wrapper .arButtonUI:hover svg {
	filter: invert(1);
}

.site-content .wrapper .popUpDescription {
	width: 100%;
	height: 100vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(33, 33, 33, 0.3);
	backdrop-filter: blur(5px);
	z-index: 99;
}

.site-content .wrapper .popUpDescription .popUpContent {
	width: 250px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	background: rgba(16, 16, 16, 0.8);
	backdrop-filter: blur(7px);
	padding: 28px;
	border-radius: 14px;
}

.site-content .wrapper .popUpDescription .popUpContent .popUpContentBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.site-content .wrapper .popUpDescription .popUpContent .popUpContentBody img {
	width: 150px;
	border-radius: 14px;
}

.site-content .wrapper .popUpDescription .popUpContent a {
	text-align: right;
    display: block;
    color: #fafafa;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #000;
    padding: 5px 8px;
    border-radius: 100px;
}

.site-content .wrapper .popUpDescription .popUpContent .text {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

.site-footer .wrapper .disclaimer {
	width: 100%;
	display: block;
    position: absolute;
    bottom: 0;
	right: 0;
    font-size: 11px;
	line-height: 18px;
	font-weight: 200;
	text-align: right;
	background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.7);
	padding-bottom: 20px;
	padding-right: 50px;
}

.site-content .wrapper .credit {
	display: block;
}

@media only screen and (max-width: 960px) {
	.site-content .wrapper .descriptionUI {
		flex-direction: row;
		justify-content: space-between;
		max-width: 100%;
		left: unset;
		padding: 0 50px;
	}

	.site-content .wrapper .descriptionUI .title {
		font-size: 64px;
	}

	.site-content .wrapper .descriptionUI .subtitle {
		font-size: 36px;
	}

	.site-content .wrapper .descriptionUI .info {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	.site-content .wrapper .descriptionUI .info .text {
		text-align: right;
	}

	.site-content .wrapper .sidebarUI {
		min-width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		position: absolute;
		bottom: 0;
		gap: 15px;
		z-index: 9;
	}

	.site-content .wrapper .sidebarUI .swipeButton {
		filter: invert(1);
		display: block;
		width: 20px;
	}

	.site-content .wrapper .arButtonUI {
		position: relative;
		padding: unset;
		bottom: unset;
		left: unset;
		transform: unset;
		margin: auto;
		padding: 7px 30px;
	}

	.site-content .wrapper .customizerUI {
		position: relative;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		width: 100%;
		right: 0;
		bottom: 0;
		top: unset;
		padding: 0;
		z-index: 9;
	}

	.site-content .wrapper .customizerUI .tabCategory {
		gap: 0px;
	}

	.site-content .wrapper .customizerUI .tabCategory a {
		border-radius: 0;
	}

	.site-content .wrapper .customizerUI .colorCustomizer {
		padding: 15px 30px 20px;
	}

	.site-content .wrapper .customizerUI .colorCustomizer h5 {
		font-size: 14px;
		font-weight: 400;
		color: #fafafa;
	}

	.site-content .wrapper .customizerUI .tabContentCategory {
		padding: 0 20px;
		max-width: 100%;
		/* background-color: #000; */
	}

	.site-content .wrapper .customizerUI .colorCustomizer .colorBtnGroup a {
		height: 50px;
	}

	.site-content .wrapper .popUpDescription {
		width: 100%;
		height: 100vh;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		background: rgba(33, 33, 33, 0.3);
		backdrop-filter: blur(5px);
		z-index: 99;
	}
	
	.site-content .wrapper .popUpDescription .popUpContent {
		width: 50%;
		height: auto;
		background: rgba(16, 16, 16, 0.8);
		backdrop-filter: blur(7px);
		padding: 28px;
		border-radius: 14px;
	}

	.site-content .wrapper .popUpDescription .popUpContent a {
		text-align: right;
		display: block;
		margin-bottom: 10px;
		color: #fafafa;
	}
	
	.site-content .wrapper .popUpDescription .popUpContent .text {
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
	}

	.site-footer .wrapper .disclaimer {
		display: block;
	}

	.site-content .wrapper .credit {
		display: block;
		position: absolute;
		bottom: 0;
		background: #FAFAFA;
		width: 100%;
		padding: 20px 0;
	}
}

@media only screen and (max-width: 767px) {
	.page-wrapper {
		background: url('../images/bg-black-mobile.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		width: 100%;
		max-width: 100%;
		height: 100vh;
		max-height: 100vh;
	}

	.site-header .wrapper {
		padding: 20px;
	}

	.site-header .wrapper .menu span {
		display: none;
	}

	.site-header .wrapper .logo {
		display: none;
	}

	.site-content .wrapper .descriptionUI {
		padding: 0 20px;
		top: 5%;
	}

	.site-content .wrapper .descriptionUI .title {
		font-size: 46px;
	}

	.site-content .wrapper .descriptionUI .subtitle {
		font-size: 24px;
	}

	.site-content .wrapper .sidebarUI {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		position: absolute;
		bottom: 0;
		gap: 5px;
		z-index: 9;
	}

	.site-content .wrapper .sidebarUI .swipeButton {
		display: block;
		width: 20px;
	}

	.site-content .wrapper .arButtonUI {
		position: relative;
		padding: unset;
		bottom: unset;
		left: unset;
		transform: unset;
		margin: auto;
		padding: 7px 30px;
	}

	.site-content .wrapper .customizerUI {
		position: relative;
	}

	.site-content .wrapper .customizerUI .tabContentCategory {
		padding: 10px 20px;
	}

	.site-content .wrapper .customizerUI .tabContentCategory a img {
		width: 40px;
	}

	.site-content .wrapper .customizerUI .btnCustomizer {
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
	}

	.site-content .wrapper .customizerUI .colorCustomizer {
		border-top: unset;
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
		padding: 0px 30px 10px;
	}

	.site-content .wrapper .customizerUI .colorCustomizer .colorBtnGroup a {
		height: 30px;
	}

	.site-content .wrapper .popUpDescription {
		width: 100%;
		height: 100vh;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		background: rgba(33, 33, 33, 0.8);
		backdrop-filter: blur(5px);
		z-index: 99;
	}

	.site-content .wrapper .popUpDescription .popUpContent {
		width: 70%;
	}

	.site-footer .wrapper .disclaimer {
		display: none;
	}
}